@import './vars.css';


.main-toolbar-container {
    display: flex;

    justify-content: space-between;

    background-color:      var(--toolbar-background-color);
    border-radius:         var(--toolbar-border-radius);
    
    /*background-color: grey; */
}

