@import './vars.css';

.paint-menu-container {

    display: inline-flex;
    background-color:      var(--toolbar-background-color);
    border-radius:         var(--toolbar-menu-border-radius);
    align-items: center; 
    padding:     0.5em;
    text-align:  center;

    user-select: none; /* can't be selected. */
}

/* This is here for debugging */
.paint-menu-item {
    box-sizing:       border-box;
    border:           1px solid midnightblue;
    padding:          10px;
    margin:           10px;
    background-color: green;
}

.paint-menu-item:hover {
    background-color: var(--toolbutton-hover-bgcolor);
    border-radius:    var(--toolbar-menu-hover-border-radius);
}


.paint-menu-item-image {
    width:      36px;
    height:     36px;    
    box-sizing: border-box;
    /* this is the padding around the image. */
    padding:    0.5em;    
}

.paint-menu-item-seperator {
/*    border-style: dotted; */

/*    box-sizing:       border-box; */
/*    border:           1px solid midnightblue; */
    padding:          2px;
    margin:           5px;
    background-color: green;
    
    /*
    margin: 6px 0; 
    background: blue;
*/
}

.paint-menu-item-image:hover {
    background-color: var(--toolbutton-hover-bgcolor);
    border-radius:    var(--toolbar-menu-hover-border-radius);
}

.paint-menu-item-color {
    width:      36px;
    height:     36px;
    box-sizing: border-box;
    padding:    0.5em;    
}

.paint-menu-item-color:hover {
    background-color: var(--toolbutton-hover-bgcolor);
    border-radius:    var(--toolbutton-hover-border-radius);
}


.dropdown-content {
  display: none;
  position: absolute;
  //right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}
